{
  "extends": "airbnb",
  "rules": {
    "no-console": "off",
    "comma-dangle": "off",
    "no-undef": "off",
    "import/no-extraneous-dependencies": "off",
    "react/jsx-filename-extension": "off"
  }
}
